header {
    background-color: rgb(60, 6, 104);
    color: white;
    padding: 15px;
}

body {
    margin: 0;
    height: 100vh;
}

footer {
    background-color: rgb(60, 6, 104);
    color: white;
    padding: 15px;
    position: fixed;
    Bottom: 0;
    width: calc(100% - 20px);
}

img {
    width: 200px;
}
form {
    font-size: 20px;
}